    p {
        color: white;
        margin-top: 0.1rem;
        margin-bottom: 0.2rem;
        margin-left: 3rem;
    }
    
    body {
        line-height: 0.5rem;
        background-color: #f2f2f2;
    }
    
    i {
        margin-left: 0px;
        font-size: 30px;
        color: aliceblue;
    }
    
    #categorys {
        height: 620px;
        width: 100%;
        background: white;
        color: black;
        font-family: inherit;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .btn {
        line-height: .0001rem;
    }
    
    #bodyCard {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
    }
    
    #btnbtn:hover {
        color: red;
    }
    
    #cartproduct {
        height: auto;
        width: 100%;
        background: white;
        margin: 50px;
        color: black;
        font-family: inherit;
    }
    
    li {
        margin-left: 20px;
        color: white;
    }
    
    .category-active {
        background-color: #6c757d;
        color: white;
    }
    
    .fas {
        line-height: 0.6rem;
    }
    
    .dropdown-item:hover {
        background-color: #6c757d;
        color: #f2f2f2;
        height: 1cm;
    }
    
    table {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
    
    .my-custom-scrollbar {
        position: relative;
        height: 100%;
        overflow: auto;
    }
    
    .table-wrapper-scroll-y {
        display: block;
    }